@page
@model TaskRequestDem.Pages.RequestRazor.DetailsModel

@{
    ViewData["Title"] = "Детали о заявке";
}

<h1>Детали</h1>

<div>
    <h4>Заявка</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.RequstNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.RequstNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.Equipment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Equipment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.CreateAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.CreateAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.UpdateAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.UpdateAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.FinishAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.FinishAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.client.ClientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.status.StatusId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Request.executor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.executor.ExecutorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Request.RequestId">Изменить</a> |
    <a asp-page="./Index">Назад</a>
</div>
